body{
    padding: 2rem;
    margin: 3rem;
    color: #fff;
    background: #666;
}
p{
    background-color: blue;
    width: 20rem;
    font-size: 2rem;
    font-weight: 500;
    width: 80%;
}
h1{
    color: red;
    width: 20rem;

    background-color: yellowgreen;
    font-weight: 500;
    width: 30%;

}
h2{
    color: yellow;
    background-color: black;
    width: 30%;

}
h3{
    background-color: #fff4a4;
    color: black;
    width: 40%;

}